.vscode
.DS_Store
.allure
*.iml
.idea
target
temp
settings.xml
homeserver.prod.yaml
*.setup.log
*.setup.yml
*.zip
/bin
/.m2
/helm-package
# JS
node_modules/
# Python
.mypy_cache/
.venv/
# Folder for local files not to be managed by Git
/local/
# Other
/schemacache
