# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.iml
*.tmproj
.vscode/
# Maven
target/
.mvn/
mvnw
mvnw.cmd
pom.xml
/.m2
# Release Wrapper
ci_settings.xml
increase.sh
RELEASE.md
# Gitlab
/.gitlab-ci*
# Helm
.helmignore
helm-package/
# Filtering
/filter.txt
