<table>
  <thead>
    <th>Schlüssel</th>
    <th>Typ</th>
    <th>Beschreibung</th>
    <th>Default</th>
  </thead>
  <tbody>
  {{- range .Values }}
    <tr>
      <td id="{{ .Key | replace "." "--" }}">
        <div style="max-width: 150px;"><a href="../values.yaml#L{{ .LineNumber }}">{{ .Key }}</a></div>
      </td>
      <td>{{ .Type }}</td>
      <td>{{ if .Description }}{{ .Description }}{{ else }}{{ .AutoDescription }}{{ end }}</td>
      <td>
        <div style="max-width: 300px;">{{ template "chart.valueDefaultColumnRender" . }}</div>
      </td>
    </tr>
   {{- end }}
  </tbody>
</table>
